* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* css */
body {
  background-color: black;
}
header nav {
  background-color: #333;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.5rem);
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.2);
  padding: 0.75rem;
  margin: 0;
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown button {
  background-color: #333;
  border: none;
  margin: 0.5rem;
}

.dropdown-menu ul {
  list-style: none;
}

.dropdown-menu a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.25rem;
}

.dropdown i {
  color: black;
}

.dropdown-menu.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.header-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.header-intro h1 {
  color: white;
  font-weight: 900;
  font-size: 48px;
}

#name-grad {
  background-image: linear-gradient(to right, orange, purple);
  background-clip: text;
  color: transparent;
}

.header-intro p {
  color: white;
  padding: 5px;
  text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 10px;
}

.get-in-touch {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 16px;
    font-weight: 700;
    border: 2px white solid;
}

.get-CV {
    background-color: black;
    padding: 0.5rem;
    border: 2px white solid;
    border-radius: 16px;
    color: #fff;
    font-weight: 700;
}

h2.projects-heading {
    margin-top: 2rem;
  background-image: linear-gradient(to bottom, #FF8660, #D5491D);
  background-clip: text;
  color: transparent;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}
.projects-grid {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

.project1,
.project2 {
  color: #ffffff;
  width: 50%;
}

.projects-grid img {
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
  display: block;
}

.bottom-of-card {
  border-radius: 0 0 10px 10px;
  border: #ddd solid 1px;
  padding: 4px;
}

.projects-grid .click-here p {
  font-size: 12px;
}

.projects-grid .description p {
  font-size: 20px;
}

@media (min-width: 500px) {
  .dropdown {
    display: flex;
    justify-content: center;
  }
  .dropdown button {
    display: none;
  }

  .dropdown .dropdown-menu {
    opacity: 1;
    position: static;
    box-shadow: none;
    padding: 0;
    margin: 0;
    transform: translateY(0);
    padding: 0.75rem;
    width: 50%;
    pointer-events: auto;
  }

  .dropdown {
    position: static;
  }

  .dropdown-menu ul {
    display: flex;
    justify-content: space-around;
  }

  .dropdown-menu li a {
    color: white;
  }
}
